<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.css">
<script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.js"></script>
<%-include('./admindashboard/header.ejs')%>
    <div class="container-xxl">
        <div class="row">
            <div class="col-2"><%-include('./admindashboard/left.ejs')%></div>
            <div class="col-10">
                <div class="d-flex justify-content-center m-5">
                   <h1 class="text-dark text-opacity-75">View Registrations</h1>
                </div>
                <div>
                  <% if(regdata.length>0){ %>
                    <table id="registrationTable" class="table display">
                        <thead>
                          <tr>
                            <th scope="col">#</th>
                            <th scope="col">UserName</th>
                            <th scope="col">Email</th>
                            <!-- <th scope="col">Password</th> -->
                            <th scope="col">Avatar</th>
                            <th scope="col">Status</th>
                            <th scope="col">Actions</th>
                          </tr>
                        </thead>
                        <tbody>
                          <% for(var i=0; i<regdata.length; i++){%>
                          <tr>
                            <th scope="row"><%= [i+1] %></th>
                            <td><%= regdata[i].username %></td>
                            <td><%= regdata[i].email %></td>
                            <!-- <td><%= regdata[i].password %></td> -->
                            <td><img src="<%= regdata[i].avatar %>" alt="" width="70px"></td>
                            <td>Active</td>
                            <td>
                                <a href="/edit/<%= regdata[i]._id %>"><button type="button" class="btn btn-primary me-2">Edit</button></a>
                                <a href="/delete/<%= regdata[i]._id %>"><button type="button" class="btn btn-danger me-2">Delete</button></a>
                            </td>
                          </tr>
                          <% } %>
                        </tbody>
                      </table>
                      <% } else { %>
                        No record found!

                        <%} %>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <script>
      $(document).ready(function() {
          $('#registrationTable').DataTable();
      });
  </script>